@import '../../index.scss';

// here i added styles
.crypto {
    .crypto__info {
        &-title {
            text-align: center;
        }

        &-cards {
            @include flexible();
            gap: 4px;
        }
    }

}

.crypto__button-container {
    width: 400px;
    margin: 7px auto;
    @include flexible();
    gap: 5px;

    .crypto__button {
        padding: 15px 20px;
        background-color: $bg-primary;
        border: none;
        color: #fff;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .7s ease;

        &:hover {
            opacity: 0.5
        }
    }

}

.chart{
    &__title {
        text-align: center;

    }
}


@include query(mobile) {
    .crypto__info-container {
        .crypto__info-cards {
            display: none;
        }
    }

    .crypto__info-title {
        display: none;
    }
}

@include query(tablet) {
    .crypto__info-container {
        .crypto__info-cards {
            display: flex;
        }
    }

    .crypto__info-title {
        display: block;
    }
}