.alert {
    width: 100%;
    margin: 20px auto;
    height: 30px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #ccc;

    &__text {
        text-align: center;
        font-size: 20px;
    }
}

@mixin alert($name, $bgColor) {
    $accentColor: darken($bgColor, 50);
    
    .#{$name} {
        background-color:#{$bgColor};
        border-left: 5px solid $accentColor;

    }
}

@include alert(alert--success, #a8f0c6);
@include alert(alert--danger, #f7a7a3);
